<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Welcome to Great Things!</h1>
  <p>You can buy ANYTHING at Great Things!</p>
  <p>If you put your money where you mouth is, that is...</p>
</div>

<div class="container">
  <div class="row">
    <% if params[:cat_id] %>
      <h3>All <%= @category.name.titleize %></h3>
    <% else %>
      <h3>All Products</h3>
    <% end %>

    <!-- Search Form -->
    <span class="pull-right">
      <%= form_tag(shop_path, method: :get, role: 'search', class: 'form-inline') do %>
        <div class="form-group">
          <%# TODO: hide the search label %>
          <%# label_tag :search, class: 'sr-only' %>
          <%= text_field_tag(:search, nil, placeholder: 'Search products', class: 'form-control input-sm') %>
        </div>
        <%= submit_tag('Search', class: 'btn btn-default btn-sm') %>
      <% end %>
    </span>

    <% @products.each do |product| %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag product.avatar.url(:medium) %>
            <span class="pull-right text-right">
              <h5><%= product.price %></h5>
            </span>

            <!--Opens the Modal -->
            <a href="#" data-toggle="modal"
                        data-target="#myModal_<%= product.id %>" >
              <h5><%= product.name %></h5>
              <small>
                <span class="glyphicon glyphicon-plus"></span> quick info
              </small>
            </a>

            <!-- Add to Cart Button -->
            <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-sm btn-success' %>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade goat-modal" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
            </div>
            <div class="modal-body">
              <p><%= number_to_currency(product.price) %></p>
              <p><%= product.description %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>